<h1>Cold Weather Widget</h1>
<div class="element">
  <resort-list [resorts]="resorts" [selectedResort]="selectedResort" (onResortChanged)="onResortChanged( $event )"></resort-list>
  <div class="element-right">
    <weather-forecast [location]="selectedResort.location"></weather-forecast>
    <follow-info [selectedResort]="selectedResort"></follow-info>
  </div>
  <div class="clear"> </div>
</div>
<div class="copy-right">
  <p>© 2015 Cold Weather Widget. All rights reserved | Design by  <a href="http://w3layouts.com/" target="_blank">  W3layouts </a></p>
</div>
